# Dépendances
node_modules/
dist/

# Environnement (Secrets)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# SvelteKit specific
.svelte-kit/
build/
.vscode

# Supabase local config (⚠️ contient des tokens)
.supabase/

# Edge Functions deps (si jamais)
supabase/functions/**/node_modules

# Vite (SvelteKit utilise Vite sous le capot)
vite.config.js.timestamp-*
